<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhi.vedanam">

    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".student.QueryWithTeacher" />
        <activity android:name=".student.TeacherDetails" />
        <activity android:name=".teacher.StudentQuery" />
        <activity android:name=".student.ResetPasswordStudent" />
        <activity android:name=".student.ProfileStudent" />
        <activity android:name=".teacher.ProfileTeacher" />
        <activity android:name=".teacher.HomeTeacher" />
        <activity android:name=".student.HomeStudent" />
        <activity android:name=".Verify" />
        <activity android:name=".student.LoginPageStudent" />
        <activity android:name=".student.RegistrationPageStudent" />
        <activity android:name=".teacher.RegistrationPageTeacher" />
        <activity android:name=".teacher.LoginPageTeacher" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>